<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.user.name %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @profile.hobbies %>
</p>

<p>
  <b>Location:</b>
  <%= @profile.location %>
</p>

<p>
  <b>Job:</b>
  <%= @profile.job %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<% if current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
